/********************************************************/
/*              Autor: Boris Gallego Ríos               */
/*       stylesheet for Black Mirror tribute site       */
/*                    Version: 1.0                      */
/*   comment: project for Lenguajes de Marcas - 1ºDAM   */   
/********************************************************/ 

/*font face es para asignar una nueva fuente*/
@font-face {
    font-family: textonormal;
    src: url(../fonts/CheyenneSans-Black.ttf);
}
@font-face {
    font-family: Blackmirror;
    src: url(../fonts/Fontspring-DEMO-proximanova-black.otf);
}

body{margin:0; padding:0; /*para eliminar espacio superior en body*/
    background-color: #13131C;
    color: #C5C5CB;
    font-family: textonormal; /*este comando es para aplicar la fuente que hemos asignado antes a todo el body*/
}

h1 {
    font-family: Blackmirror;
    text-align: center;
    color: #13131C;
    text-shadow: 2px 2px 2px rgb(15, 11, 32);
}
#hero{
    background-image: url(../img/black-mirror-1.jpg); /*imagen apaisada a buena calidad*/
    background-size: cover; /*cubre todo el ancho*/
    height: 90vh; /*90% del alto de la ventana*/
    background-position: right;
    

    position:relative; /*contenedor del boton, mi hero section*/
}

#hero button {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    /*margin-top:80vh; /*en funcion del alto*/ /*
margin-left:10vw;  /*en funcion del ancho */ 
border:none; /*le quita el borde*/
font-weight: bold;
font-size: 0.8em; /*tamaño de la letra*/
padding:5px 15px; /*espaciado dentro del boton*/
border-radius: 10px;
background-color: white;
}

#hero button:hover {background-color: aqua;} /*color poner el raton encima del boton*/

#wrapper{background-color: #65656D; 
width: 80%; /*el contenido de la pagina no llega de punta a punta*/
margin:auto; /*se centra el contenido en el centro de la página*/
        }



        /*Responsividad*/
@media only screen and (width<900px){
    #wrapper {width: 100%;}
}